<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CardGameServer.Properties.Settings.avalon_dbConnectionString"
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=avalon_db;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CardGameServer.Properties.Settings.avalon_dbConnectionStringWithSqlAuth"
      connectionString="Data Source=avalonDB.mssql.somee.com;Initial Catalog=avalonDB;Integrated Security=False;User ID=wmza_SQLLogin_1;Password=rsfwhtfy84;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
      providerName="System.Data.SqlClient" />
   </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_Service" receiveTimeout="00:01:30" openTimeout="00:01:30" sendTimeout="00:01:30" closeTimeout="00:01:30">
          <security mode="None">
            <transport protectionLevel="None" clientCredentialType="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="CardGameServer.Servicegame">
        <host>
          <baseAddresses>
            <!--<add baseAddress="net.tcp://0.0.0.0:7000/CardGameServer"/>-->
            <add baseAddress="net.tcp://localhost:7000/CardGameServer"/>
            <!--<add baseAddress="net.tcp://10.3.60.130:8080/CardGameServer"/>-->
          </baseAddresses>
        </host>
        <endpoint address="" 
                  binding="netTcpBinding" 
                  bindingConfiguration="NetTcpBinding_Service" 
                  contract="CardGameServer.Servicegame" />
      </service>
    </services>
  </system.serviceModel>    
</configuration>