<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_Service" receiveTimeout="00:01:30" openTimeout="00:01:30" sendTimeout="00:01:30" closeTimeout="00:01:30">
          <security mode="None">
            <transport protectionLevel="None" clientCredentialType="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <!--<client>
      <endpoint name="MyEndpoint" address="net.tcp://127.0.0.1:7000/CardGameServer"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_Service"
                contract="CardGameServer.Servicegame"/>
    </client>-->
    <client>
      <endpoint name="MyEndpoint" address="net.tcp://localhost:7000/CardGameServer"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_Service"
                contract="CardGameServer.Servicegame"/>
    </client>
  </system.serviceModel>
</configuration>